# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
.pytest_cache/

# Logs
logs/*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store
desktop.ini

# Temp
*.tmp
*.bak

# Large source files (اختیاری)
standards/*/source/*.doc
standards/*/source/*.pdf
standards/*/source/media/
standards/*/source/*.docx
standards/*/source/s*.doc
scripts/test_*.py
